body {
  height: 100vh;
  background-image: radial-gradient(
    ellipse at bottom,
    #1b27356b 0%,
    #090a0f5e 100%
  );
  overflow: hidden;
}

.background {
  display: block;
  position: fixed;
  z-index: -1;
  height: 200vh;
  width: 200vw;
  margin: 0 auto;
  background-image: url("../assets/img/bg.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
  left: -50%;
  top: -50%;
  animation: 300s 0s movebg infinite linear;
}

.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1240px 523px #fff, 1274px 430px #fff, 1248px 1897px #fff,
    1847px 960px #fff, 13px 1803px #fff, 1871px 1614px #fff, 426px 836px #fff,
    628px 508px #fff, 109px 1833px #fff, 1572px 1626px #fff, 355px 1789px #fff,
    1391px 768px #fff, 1764px 1046px #fff, 1594px 1059px #fff,
    1385px 1978px #fff, 730px 233px #fff, 1997px 1386px #fff, 942px 1916px #fff,
    1626px 1605px #fff, 927px 1874px #fff, 424px 1679px #fff, 771px 239px #fff,
    1221px 1796px #fff, 1841px 1705px #fff, 372px 871px #fff, 342px 785px #fff,
    1632px 1787px #fff, 1431px 1093px #fff, 541px 1138px #fff, 1136px 153px #fff,
    1771px 1759px #fff, 1400px 613px #fff, 1666px 134px #fff, 83px 395px #fff,
    1760px 1663px #fff, 502px 450px #fff, 1287px 382px #fff, 246px 211px #fff,
    805px 1939px #fff, 451px 15px #fff, 1861px 1326px #fff, 487px 759px #fff,
    777px 1185px #fff, 1817px 380px #fff, 1424px 909px #fff, 859px 454px #fff,
    602px 807px #fff, 820px 841px #fff, 1925px 1933px #fff, 172px 1607px #fff,
    961px 649px #fff, 1429px 551px #fff, 1449px 1043px #fff, 776px 1748px #fff,
    5px 888px #fff, 755px 916px #fff, 1381px 1809px #fff, 591px 1714px #fff,
    1402px 1936px #fff, 678px 64px #fff, 261px 112px #fff, 1925px 327px #fff,
    916px 806px #fff, 925px 994px #fff, 185px 1657px #fff, 843px 36px #fff,
    902px 746px #fff, 1356px 1276px #fff, 474px 303px #fff, 280px 778px #fff,
    663px 1737px #fff, 426px 1629px #fff, 1176px 420px #fff, 1036px 1347px #fff,
    1836px 878px #fff, 1527px 1141px #fff, 161px 1157px #fff, 303px 658px #fff,
    999px 629px #fff, 336px 1086px #fff, 1626px 1978px #fff, 1684px 1844px #fff,
    171px 1533px #fff, 1184px 1337px #fff, 402px 1660px #fff, 513px 2px #fff,
    1972px 480px #fff, 294px 523px #fff, 1230px 1943px #fff, 1712px 923px #fff,
    1623px 1032px #fff, 1269px 1429px #fff, 442px 1405px #fff,
    1342px 1137px #fff, 874px 783px #fff, 227px 1376px #fff, 157px 1184px #fff,
    1551px 163px #fff, 625px 1347px #fff, 1109px 1566px #fff, 409px 1718px #fff,
    1522px 1698px #fff, 204px 215px #fff, 1783px 1658px #fff, 1079px 932px #fff,
    325px 1512px #fff, 1000px 241px #fff, 1712px 1848px #fff, 640px 1977px #fff,
    984px 368px #fff, 398px 1768px #fff, 1435px 776px #fff, 97px 779px #fff,
    318px 193px #fff, 1308px 1841px #fff, 1677px 907px #fff, 1950px 1698px #fff,
    1385px 413px #fff, 1168px 1230px #fff, 1268px 11px #fff, 313px 710px #fff,
    1629px 928px #fff, 788px 585px #fff, 1240px 617px #fff, 555px 419px #fff,
    1837px 1231px #fff, 842px 1737px #fff, 1130px 333px #fff, 1459px 1994px #fff,
    1488px 1066px #fff, 616px 1006px #fff, 1984px 1700px #fff, 1888px 563px #fff,
    1915px 402px #fff, 1750px 968px #fff, 995px 1233px #fff, 953px 1295px #fff,
    1668px 2000px #fff, 1088px 215px #fff, 1883px 1642px #fff,
    1740px 1236px #fff, 1418px 1273px #fff, 67px 117px #fff, 744px 650px #fff,
    474px 840px #fff, 104px 917px #fff, 994px 1231px #fff, 1191px 753px #fff,
    868px 159px #fff, 1672px 269px #fff, 656px 573px #fff, 1201px 1451px #fff,
    1755px 714px #fff, 1218px 543px #fff, 533px 1524px #fff, 1378px 852px #fff,
    1652px 1568px #fff, 1257px 680px #fff, 1519px 1010px #fff, 709px 840px #fff,
    1957px 849px #fff, 1471px 1604px #fff, 900px 55px #fff, 1121px 1586px #fff,
    137px 1872px #fff, 1042px 1549px #fff, 1729px 1151px #fff, 237px 630px #fff,
    1741px 1068px #fff, 921px 514px #fff, 968px 1857px #fff, 483px 706px #fff,
    595px 233px #fff, 1032px 767px #fff, 2000px 69px #fff, 586px 823px #fff,
    1258px 638px #fff, 674px 1584px #fff, 1950px 529px #fff, 689px 451px #fff,
    1966px 1347px #fff, 234px 1225px #fff, 1228px 227px #fff, 84px 1674px #fff,
    284px 1657px #fff, 154px 1479px #fff, 1680px 391px #fff, 1197px 131px #fff,
    1099px 220px #fff, 472px 1432px #fff, 372px 830px #fff, 1595px 1507px #fff,
    1734px 138px #fff, 230px 1173px #fff, 400px 410px #fff, 1585px 1488px #fff,
    454px 1699px #fff, 867px 1543px #fff, 923px 235px #fff, 1660px 166px #fff,
    1770px 1922px #fff, 874px 243px #fff, 1919px 101px #fff, 199px 1488px #fff,
    1627px 48px #fff, 1666px 109px #fff, 1257px 1244px #fff, 1156px 496px #fff,
    1792px 488px #fff, 730px 1370px #fff, 1473px 1582px #fff, 1173px 959px #fff,
    1581px 1426px #fff, 814px 1428px #fff, 930px 1920px #fff, 35px 938px #fff,
    1483px 1806px #fff, 645px 1204px #fff, 1126px 1025px #fff, 657px 1327px #fff,
    1643px 1938px #fff, 909px 1647px #fff, 1768px 17px #fff, 1615px 1639px #fff,
    1482px 474px #fff, 526px 241px #fff, 1535px 151px #fff, 1808px 184px #fff,
    1070px 1401px #fff, 582px 473px #fff, 718px 186px #fff, 1588px 631px #fff,
    1868px 377px #fff, 1943px 1475px #fff, 18px 1839px #fff, 760px 1132px #fff,
    338px 529px #fff, 288px 354px #fff, 1035px 274px #fff, 450px 1994px #fff,
    1182px 1010px #fff, 307px 104px #fff, 1375px 787px #fff, 824px 1115px #fff,
    711px 1222px #fff, 287px 45px #fff, 286px 1091px #fff, 1318px 516px #fff,
    1215px 1606px #fff, 595px 760px #fff, 1086px 1089px #fff, 1183px 435px #fff,
    944px 1553px #fff, 1577px 267px #fff, 95px 1893px #fff, 165px 181px #fff,
    58px 553px #fff, 977px 121px #fff, 1360px 874px #fff, 250px 1299px #fff,
    1183px 186px #fff, 1504px 552px #fff, 1950px 967px #fff, 20px 1301px #fff,
    1888px 621px #fff, 1330px 99px #fff, 1777px 1578px #fff, 1258px 380px #fff,
    1908px 524px #fff, 294px 986px #fff, 1329px 32px #fff, 1833px 616px #fff,
    638px 729px #fff, 817px 1888px #fff, 1404px 1541px #fff, 1521px 1964px #fff,
    742px 77px #fff, 41px 1130px #fff, 1235px 1099px #fff, 613px 1180px #fff,
    487px 1641px #fff, 222px 1733px #fff, 390px 938px #fff, 1095px 918px #fff,
    603px 1284px #fff, 1582px 1309px #fff, 1713px 1310px #fff,
    1999px 1116px #fff, 1069px 1978px #fff, 1655px 1971px #fff, 203px 478px #fff,
    1504px 637px #fff, 114px 595px #fff, 276px 5px #fff, 283px 1207px #fff,
    1099px 1838px #fff, 1454px 1685px #fff, 1897px 1542px #fff, 54px 108px #fff,
    1601px 1345px #fff, 1871px 75px #fff, 249px 771px #fff, 1419px 874px #fff,
    749px 470px #fff, 1044px 993px #fff, 175px 143px #fff, 1947px 1940px #fff,
    869px 1350px #fff, 968px 433px #fff, 1193px 1486px #fff, 463px 1719px #fff,
    1914px 1883px #fff, 464px 725px #fff, 23px 1709px #fff, 719px 1564px #fff,
    1440px 789px #fff, 213px 1833px #fff, 1077px 1090px #fff, 874px 1244px #fff,
    148px 994px #fff, 633px 323px #fff, 206px 1279px #fff, 1056px 1467px #fff,
    737px 895px #fff, 1835px 676px #fff, 1161px 1892px #fff, 600px 1258px #fff,
    1541px 1782px #fff, 540px 621px #fff, 1795px 616px #fff, 1760px 1579px #fff,
    1641px 1449px #fff, 1034px 359px #fff, 399px 856px #fff, 1971px 1293px #fff,
    350px 1950px #fff, 1782px 230px #fff, 489px 955px #fff, 198px 864px #fff,
    1470px 477px #fff, 1724px 1302px #fff, 1698px 699px #fff, 569px 897px #fff,
    235px 1605px #fff, 1143px 788px #fff, 540px 1360px #fff, 152px 303px #fff,
    306px 744px #fff, 1466px 1833px #fff, 1923px 805px #fff, 1481px 585px #fff,
    1241px 1509px #fff, 619px 1377px #fff, 1907px 1319px #fff,
    1496px 1576px #fff, 1448px 1237px #fff, 1679px 721px #fff, 200px 535px #fff,
    1828px 1101px #fff, 245px 1372px #fff, 1336px 1542px #fff, 1807px 377px #fff,
    525px 864px #fff, 925px 1749px #fff, 541px 1720px #fff, 156px 899px #fff,
    1879px 1329px #fff, 1908px 1233px #fff, 1278px 607px #fff, 132px 1419px #fff,
    504px 1892px #fff, 1147px 580px #fff, 331px 1730px #fff, 574px 1317px #fff,
    1370px 1116px #fff, 995px 29px #fff, 1453px 1864px #fff, 1462px 1965px #fff,
    420px 243px #fff, 623px 1882px #fff, 1386px 1696px #fff, 657px 921px #fff,
    1908px 463px #fff, 1056px 1822px #fff, 672px 534px #fff, 706px 1495px #fff,
    1767px 736px #fff, 1336px 945px #fff, 1479px 807px #fff, 918px 697px #fff,
    796px 1713px #fff, 1858px 587px #fff, 831px 223px #fff, 1377px 603px #fff,
    16px 632px #fff, 864px 843px #fff, 1968px 253px #fff, 1931px 1215px #fff,
    1368px 1732px #fff, 1691px 523px #fff, 1805px 419px #fff, 1055px 939px #fff,
    23px 424px #fff, 1932px 1882px #fff, 1604px 644px #fff, 192px 87px #fff,
    175px 1881px #fff, 75px 435px #fff, 836px 1809px #fff, 1697px 1917px #fff,
    1583px 545px #fff, 1313px 691px #fff, 131px 1429px #fff, 1006px 181px #fff,
    1541px 714px #fff, 1589px 1469px #fff, 1658px 665px #fff, 283px 1074px #fff,
    1089px 737px #fff, 1484px 873px #fff, 1201px 1270px #fff, 121px 1079px #fff,
    816px 911px #fff, 542px 24px #fff, 1070px 1177px #fff, 1221px 1959px #fff,
    1645px 22px #fff, 241px 1223px #fff, 1318px 1596px #fff, 103px 286px #fff,
    712px 754px #fff, 1937px 1873px #fff, 245px 1108px #fff, 329px 353px #fff,
    386px 630px #fff, 753px 180px #fff, 1021px 632px #fff, 1987px 1418px #fff,
    564px 1644px #fff, 886px 1386px #fff, 534px 1891px #fff, 1731px 618px #fff,
    894px 1874px #fff, 1176px 64px #fff, 662px 117px #fff, 636px 1518px #fff,
    1351px 829px #fff, 101px 230px #fff, 1591px 403px #fff, 123px 1649px #fff,
    497px 86px #fff, 21px 1081px #fff, 808px 996px #fff, 658px 735px #fff,
    275px 1523px #fff, 1855px 1685px #fff, 1676px 265px #fff, 828px 1441px #fff,
    1405px 361px #fff, 81px 760px #fff, 1899px 1237px #fff, 1290px 1040px #fff,
    465px 138px #fff, 1518px 181px #fff, 1340px 451px #fff, 134px 888px #fff,
    1092px 142px #fff, 1983px 1435px #fff, 1354px 884px #fff, 1493px 1238px #fff,
    911px 1631px #fff, 169px 1182px #fff, 436px 199px #fff, 65px 486px #fff,
    1481px 1837px #fff, 1869px 536px #fff, 613px 135px #fff, 845px 977px #fff,
    1825px 554px #fff, 1492px 42px #fff, 1220px 996px #fff, 1688px 1667px #fff,
    780px 869px #fff, 138px 1371px #fff, 134px 989px #fff, 496px 344px #fff,
    1238px 1959px #fff, 280px 1992px #fff, 1483px 1666px #fff, 215px 1643px #fff,
    144px 1162px #fff, 1053px 1126px #fff, 797px 1160px #fff, 43px 788px #fff,
    1943px 496px #fff, 221px 996px #fff, 885px 149px #fff, 1226px 1408px #fff,
    1733px 1807px #fff, 737px 963px #fff, 832px 967px #fff, 16px 1465px #fff,
    536px 1944px #fff, 1591px 290px #fff, 407px 1399px #fff, 1688px 1266px #fff,
    330px 1520px #fff, 1892px 742px #fff, 632px 613px #fff, 1013px 372px #fff,
    1345px 1604px #fff, 1711px 165px #fff, 1233px 1306px #fff, 388px 1663px #fff,
    1098px 634px #fff, 1716px 956px #fff, 1880px 1107px #fff, 1162px 1278px #fff,
    1328px 1959px #fff, 1518px 1851px #fff, 1227px 1828px #fff, 219px 22px #fff,
    1154px 278px #fff, 1726px 701px #fff, 342px 550px #fff, 819px 537px #fff,
    787px 1289px #fff, 36px 1339px #fff, 752px 704px #fff, 415px 786px #fff,
    195px 236px #fff, 436px 1405px #fff, 805px 186px #fff, 1664px 1035px #fff,
    149px 1642px #fff, 833px 1713px #fff, 264px 1725px #fff, 1824px 125px #fff,
    1841px 1342px #fff, 1946px 1555px #fff, 1074px 1228px #fff,
    1068px 1945px #fff, 1228px 1842px #fff, 565px 1055px #fff, 862px 961px #fff,
    1023px 1220px #fff, 1414px 1878px #fff, 1546px 801px #fff,
    1228px 1428px #fff, 723px 1861px #fff, 1714px 804px #fff, 816px 1494px #fff,
    539px 923px #fff, 237px 1290px #fff, 691px 1322px #fff, 1026px 1885px #fff,
    886px 446px #fff, 1891px 1761px #fff, 1992px 1070px #fff, 1906px 1301px #fff,
    1804px 1736px #fff, 672px 1161px #fff, 324px 1288px #fff, 515px 376px #fff,
    940px 635px #fff, 424px 1405px #fff, 761px 1487px #fff, 330px 417px #fff,
    119px 1748px #fff, 1223px 509px #fff, 642px 1020px #fff, 1161px 1462px #fff,
    729px 58px #fff, 1936px 1835px #fff, 218px 718px #fff, 1418px 564px #fff,
    1589px 968px #fff, 1756px 767px #fff, 1747px 1357px #fff, 1251px 1085px #fff,
    1858px 795px #fff, 644px 895px #fff, 1008px 422px #fff, 1399px 982px #fff,
    372px 4px #fff, 1756px 1618px #fff, 1918px 1062px #fff, 1300px 543px #fff,
    1921px 123px #fff, 1201px 1834px #fff, 545px 216px #fff, 348px 1086px #fff,
    614px 565px #fff, 1764px 1345px #fff, 46px 1167px #fff, 802px 51px #fff,
    1851px 415px #fff, 1375px 1425px #fff, 723px 240px #fff, 930px 801px #fff,
    1423px 140px #fff, 271px 1723px #fff, 1358px 1364px #fff, 1570px 591px #fff,
    1963px 1679px #fff, 1636px 1371px #fff, 851px 686px #fff, 507px 1709px #fff,
    382px 1933px #fff, 1941px 1942px #fff, 1460px 1946px #fff, 132px 21px #fff,
    1990px 1604px #fff, 1207px 1710px #fff, 320px 365px #fff, 903px 1730px #fff,
    1841px 485px #fff, 737px 718px #fff, 1820px 1656px #fff, 728px 1281px #fff,
    170px 318px #fff, 1224px 271px #fff, 1774px 404px #fff, 1204px 331px #fff,
    1586px 959px #fff, 1419px 322px #fff, 1695px 1327px #fff, 1931px 1037px #fff,
    1558px 242px #fff, 1926px 883px #fff, 1019px 241px #fff, 1197px 343px #fff,
    508px 379px #fff, 1446px 1117px #fff, 175px 57px #fff, 1719px 1220px #fff,
    813px 755px #fff, 601px 1305px #fff, 1749px 1172px #fff, 1467px 341px #fff,
    369px 772px #fff, 1987px 1578px #fff, 628px 1191px #fff, 1105px 414px #fff,
    1884px 451px #fff, 1328px 919px #fff, 1158px 82px #fff, 1177px 959px #fff,
    216px 1499px #fff, 373px 1997px #fff, 102px 546px #fff, 1665px 1333px #fff,
    807px 125px #fff, 1657px 807px #fff, 1318px 1010px #fff, 418px 1308px #fff,
    675px 724px #fff, 267px 686px #fff, 1647px 789px #fff, 972px 154px #fff,
    1486px 1962px #fff, 1562px 71px #fff, 561px 1254px #fff, 865px 1480px #fff,
    289px 1888px #fff, 164px 910px #fff, 30px 1953px #fff, 846px 1586px #fff,
    877px 1124px #fff, 1381px 640px #fff, 2px 322px #fff, 277px 299px #fff,
    22px 910px #fff, 1831px 993px #fff, 1159px 587px #fff, 1602px 1220px #fff,
    55px 725px #fff, 610px 1210px #fff, 683px 413px #fff, 128px 954px #fff,
    813px 1980px #fff, 1279px 440px #fff, 1897px 754px #fff, 1896px 452px #fff,
    1813px 1929px #fff, 184px 512px #fff, 58px 601px #fff, 1433px 1651px #fff,
    1033px 1982px #fff, 1036px 99px #fff, 1796px 1270px #fff, 1265px 732px #fff,
    518px 1526px #fff, 1482px 1011px #fff, 1358px 935px #fff, 1383px 1954px #fff,
    1052px 1442px #fff, 1324px 1208px #fff, 48px 766px #fff, 497px 158px #fff;
  animation: animStar 100s linear infinite;
}
.stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1240px 523px #fff, 1274px 430px #fff, 1248px 1897px #fff,
    1847px 960px #fff, 13px 1803px #fff, 1871px 1614px #fff, 426px 836px #fff,
    628px 508px #fff, 109px 1833px #fff, 1572px 1626px #fff, 355px 1789px #fff,
    1391px 768px #fff, 1764px 1046px #fff, 1594px 1059px #fff,
    1385px 1978px #fff, 730px 233px #fff, 1997px 1386px #fff, 942px 1916px #fff,
    1626px 1605px #fff, 927px 1874px #fff, 424px 1679px #fff, 771px 239px #fff,
    1221px 1796px #fff, 1841px 1705px #fff, 372px 871px #fff, 342px 785px #fff,
    1632px 1787px #fff, 1431px 1093px #fff, 541px 1138px #fff, 1136px 153px #fff,
    1771px 1759px #fff, 1400px 613px #fff, 1666px 134px #fff, 83px 395px #fff,
    1760px 1663px #fff, 502px 450px #fff, 1287px 382px #fff, 246px 211px #fff,
    805px 1939px #fff, 451px 15px #fff, 1861px 1326px #fff, 487px 759px #fff,
    777px 1185px #fff, 1817px 380px #fff, 1424px 909px #fff, 859px 454px #fff,
    602px 807px #fff, 820px 841px #fff, 1925px 1933px #fff, 172px 1607px #fff,
    961px 649px #fff, 1429px 551px #fff, 1449px 1043px #fff, 776px 1748px #fff,
    5px 888px #fff, 755px 916px #fff, 1381px 1809px #fff, 591px 1714px #fff,
    1402px 1936px #fff, 678px 64px #fff, 261px 112px #fff, 1925px 327px #fff,
    916px 806px #fff, 925px 994px #fff, 185px 1657px #fff, 843px 36px #fff,
    902px 746px #fff, 1356px 1276px #fff, 474px 303px #fff, 280px 778px #fff,
    663px 1737px #fff, 426px 1629px #fff, 1176px 420px #fff, 1036px 1347px #fff,
    1836px 878px #fff, 1527px 1141px #fff, 161px 1157px #fff, 303px 658px #fff,
    999px 629px #fff, 336px 1086px #fff, 1626px 1978px #fff, 1684px 1844px #fff,
    171px 1533px #fff, 1184px 1337px #fff, 402px 1660px #fff, 513px 2px #fff,
    1972px 480px #fff, 294px 523px #fff, 1230px 1943px #fff, 1712px 923px #fff,
    1623px 1032px #fff, 1269px 1429px #fff, 442px 1405px #fff,
    1342px 1137px #fff, 874px 783px #fff, 227px 1376px #fff, 157px 1184px #fff,
    1551px 163px #fff, 625px 1347px #fff, 1109px 1566px #fff, 409px 1718px #fff,
    1522px 1698px #fff, 204px 215px #fff, 1783px 1658px #fff, 1079px 932px #fff,
    325px 1512px #fff, 1000px 241px #fff, 1712px 1848px #fff, 640px 1977px #fff,
    984px 368px #fff, 398px 1768px #fff, 1435px 776px #fff, 97px 779px #fff,
    318px 193px #fff, 1308px 1841px #fff, 1677px 907px #fff, 1950px 1698px #fff,
    1385px 413px #fff, 1168px 1230px #fff, 1268px 11px #fff, 313px 710px #fff,
    1629px 928px #fff, 788px 585px #fff, 1240px 617px #fff, 555px 419px #fff,
    1837px 1231px #fff, 842px 1737px #fff, 1130px 333px #fff, 1459px 1994px #fff,
    1488px 1066px #fff, 616px 1006px #fff, 1984px 1700px #fff, 1888px 563px #fff,
    1915px 402px #fff, 1750px 968px #fff, 995px 1233px #fff, 953px 1295px #fff,
    1668px 2000px #fff, 1088px 215px #fff, 1883px 1642px #fff,
    1740px 1236px #fff, 1418px 1273px #fff, 67px 117px #fff, 744px 650px #fff,
    474px 840px #fff, 104px 917px #fff, 994px 1231px #fff, 1191px 753px #fff,
    868px 159px #fff, 1672px 269px #fff, 656px 573px #fff, 1201px 1451px #fff,
    1755px 714px #fff, 1218px 543px #fff, 533px 1524px #fff, 1378px 852px #fff,
    1652px 1568px #fff, 1257px 680px #fff, 1519px 1010px #fff, 709px 840px #fff,
    1957px 849px #fff, 1471px 1604px #fff, 900px 55px #fff, 1121px 1586px #fff,
    137px 1872px #fff, 1042px 1549px #fff, 1729px 1151px #fff, 237px 630px #fff,
    1741px 1068px #fff, 921px 514px #fff, 968px 1857px #fff, 483px 706px #fff,
    595px 233px #fff, 1032px 767px #fff, 2000px 69px #fff, 586px 823px #fff,
    1258px 638px #fff, 674px 1584px #fff, 1950px 529px #fff, 689px 451px #fff,
    1966px 1347px #fff, 234px 1225px #fff, 1228px 227px #fff, 84px 1674px #fff,
    284px 1657px #fff, 154px 1479px #fff, 1680px 391px #fff, 1197px 131px #fff,
    1099px 220px #fff, 472px 1432px #fff, 372px 830px #fff, 1595px 1507px #fff,
    1734px 138px #fff, 230px 1173px #fff, 400px 410px #fff, 1585px 1488px #fff,
    454px 1699px #fff, 867px 1543px #fff, 923px 235px #fff, 1660px 166px #fff,
    1770px 1922px #fff, 874px 243px #fff, 1919px 101px #fff, 199px 1488px #fff,
    1627px 48px #fff, 1666px 109px #fff, 1257px 1244px #fff, 1156px 496px #fff,
    1792px 488px #fff, 730px 1370px #fff, 1473px 1582px #fff, 1173px 959px #fff,
    1581px 1426px #fff, 814px 1428px #fff, 930px 1920px #fff, 35px 938px #fff,
    1483px 1806px #fff, 645px 1204px #fff, 1126px 1025px #fff, 657px 1327px #fff,
    1643px 1938px #fff, 909px 1647px #fff, 1768px 17px #fff, 1615px 1639px #fff,
    1482px 474px #fff, 526px 241px #fff, 1535px 151px #fff, 1808px 184px #fff,
    1070px 1401px #fff, 582px 473px #fff, 718px 186px #fff, 1588px 631px #fff,
    1868px 377px #fff, 1943px 1475px #fff, 18px 1839px #fff, 760px 1132px #fff,
    338px 529px #fff, 288px 354px #fff, 1035px 274px #fff, 450px 1994px #fff,
    1182px 1010px #fff, 307px 104px #fff, 1375px 787px #fff, 824px 1115px #fff,
    711px 1222px #fff, 287px 45px #fff, 286px 1091px #fff, 1318px 516px #fff,
    1215px 1606px #fff, 595px 760px #fff, 1086px 1089px #fff, 1183px 435px #fff,
    944px 1553px #fff, 1577px 267px #fff, 95px 1893px #fff, 165px 181px #fff,
    58px 553px #fff, 977px 121px #fff, 1360px 874px #fff, 250px 1299px #fff,
    1183px 186px #fff, 1504px 552px #fff, 1950px 967px #fff, 20px 1301px #fff,
    1888px 621px #fff, 1330px 99px #fff, 1777px 1578px #fff, 1258px 380px #fff,
    1908px 524px #fff, 294px 986px #fff, 1329px 32px #fff, 1833px 616px #fff,
    638px 729px #fff, 817px 1888px #fff, 1404px 1541px #fff, 1521px 1964px #fff,
    742px 77px #fff, 41px 1130px #fff, 1235px 1099px #fff, 613px 1180px #fff,
    487px 1641px #fff, 222px 1733px #fff, 390px 938px #fff, 1095px 918px #fff,
    603px 1284px #fff, 1582px 1309px #fff, 1713px 1310px #fff,
    1999px 1116px #fff, 1069px 1978px #fff, 1655px 1971px #fff, 203px 478px #fff,
    1504px 637px #fff, 114px 595px #fff, 276px 5px #fff, 283px 1207px #fff,
    1099px 1838px #fff, 1454px 1685px #fff, 1897px 1542px #fff, 54px 108px #fff,
    1601px 1345px #fff, 1871px 75px #fff, 249px 771px #fff, 1419px 874px #fff,
    749px 470px #fff, 1044px 993px #fff, 175px 143px #fff, 1947px 1940px #fff,
    869px 1350px #fff, 968px 433px #fff, 1193px 1486px #fff, 463px 1719px #fff,
    1914px 1883px #fff, 464px 725px #fff, 23px 1709px #fff, 719px 1564px #fff,
    1440px 789px #fff, 213px 1833px #fff, 1077px 1090px #fff, 874px 1244px #fff,
    148px 994px #fff, 633px 323px #fff, 206px 1279px #fff, 1056px 1467px #fff,
    737px 895px #fff, 1835px 676px #fff, 1161px 1892px #fff, 600px 1258px #fff,
    1541px 1782px #fff, 540px 621px #fff, 1795px 616px #fff, 1760px 1579px #fff,
    1641px 1449px #fff, 1034px 359px #fff, 399px 856px #fff, 1971px 1293px #fff,
    350px 1950px #fff, 1782px 230px #fff, 489px 955px #fff, 198px 864px #fff,
    1470px 477px #fff, 1724px 1302px #fff, 1698px 699px #fff, 569px 897px #fff,
    235px 1605px #fff, 1143px 788px #fff, 540px 1360px #fff, 152px 303px #fff,
    306px 744px #fff, 1466px 1833px #fff, 1923px 805px #fff, 1481px 585px #fff,
    1241px 1509px #fff, 619px 1377px #fff, 1907px 1319px #fff,
    1496px 1576px #fff, 1448px 1237px #fff, 1679px 721px #fff, 200px 535px #fff,
    1828px 1101px #fff, 245px 1372px #fff, 1336px 1542px #fff, 1807px 377px #fff,
    525px 864px #fff, 925px 1749px #fff, 541px 1720px #fff, 156px 899px #fff,
    1879px 1329px #fff, 1908px 1233px #fff, 1278px 607px #fff, 132px 1419px #fff,
    504px 1892px #fff, 1147px 580px #fff, 331px 1730px #fff, 574px 1317px #fff,
    1370px 1116px #fff, 995px 29px #fff, 1453px 1864px #fff, 1462px 1965px #fff,
    420px 243px #fff, 623px 1882px #fff, 1386px 1696px #fff, 657px 921px #fff,
    1908px 463px #fff, 1056px 1822px #fff, 672px 534px #fff, 706px 1495px #fff,
    1767px 736px #fff, 1336px 945px #fff, 1479px 807px #fff, 918px 697px #fff,
    796px 1713px #fff, 1858px 587px #fff, 831px 223px #fff, 1377px 603px #fff,
    16px 632px #fff, 864px 843px #fff, 1968px 253px #fff, 1931px 1215px #fff,
    1368px 1732px #fff, 1691px 523px #fff, 1805px 419px #fff, 1055px 939px #fff,
    23px 424px #fff, 1932px 1882px #fff, 1604px 644px #fff, 192px 87px #fff,
    175px 1881px #fff, 75px 435px #fff, 836px 1809px #fff, 1697px 1917px #fff,
    1583px 545px #fff, 1313px 691px #fff, 131px 1429px #fff, 1006px 181px #fff,
    1541px 714px #fff, 1589px 1469px #fff, 1658px 665px #fff, 283px 1074px #fff,
    1089px 737px #fff, 1484px 873px #fff, 1201px 1270px #fff, 121px 1079px #fff,
    816px 911px #fff, 542px 24px #fff, 1070px 1177px #fff, 1221px 1959px #fff,
    1645px 22px #fff, 241px 1223px #fff, 1318px 1596px #fff, 103px 286px #fff,
    712px 754px #fff, 1937px 1873px #fff, 245px 1108px #fff, 329px 353px #fff,
    386px 630px #fff, 753px 180px #fff, 1021px 632px #fff, 1987px 1418px #fff,
    564px 1644px #fff, 886px 1386px #fff, 534px 1891px #fff, 1731px 618px #fff,
    894px 1874px #fff, 1176px 64px #fff, 662px 117px #fff, 636px 1518px #fff,
    1351px 829px #fff, 101px 230px #fff, 1591px 403px #fff, 123px 1649px #fff,
    497px 86px #fff, 21px 1081px #fff, 808px 996px #fff, 658px 735px #fff,
    275px 1523px #fff, 1855px 1685px #fff, 1676px 265px #fff, 828px 1441px #fff,
    1405px 361px #fff, 81px 760px #fff, 1899px 1237px #fff, 1290px 1040px #fff,
    465px 138px #fff, 1518px 181px #fff, 1340px 451px #fff, 134px 888px #fff,
    1092px 142px #fff, 1983px 1435px #fff, 1354px 884px #fff, 1493px 1238px #fff,
    911px 1631px #fff, 169px 1182px #fff, 436px 199px #fff, 65px 486px #fff,
    1481px 1837px #fff, 1869px 536px #fff, 613px 135px #fff, 845px 977px #fff,
    1825px 554px #fff, 1492px 42px #fff, 1220px 996px #fff, 1688px 1667px #fff,
    780px 869px #fff, 138px 1371px #fff, 134px 989px #fff, 496px 344px #fff,
    1238px 1959px #fff, 280px 1992px #fff, 1483px 1666px #fff, 215px 1643px #fff,
    144px 1162px #fff, 1053px 1126px #fff, 797px 1160px #fff, 43px 788px #fff,
    1943px 496px #fff, 221px 996px #fff, 885px 149px #fff, 1226px 1408px #fff,
    1733px 1807px #fff, 737px 963px #fff, 832px 967px #fff, 16px 1465px #fff,
    536px 1944px #fff, 1591px 290px #fff, 407px 1399px #fff, 1688px 1266px #fff,
    330px 1520px #fff, 1892px 742px #fff, 632px 613px #fff, 1013px 372px #fff,
    1345px 1604px #fff, 1711px 165px #fff, 1233px 1306px #fff, 388px 1663px #fff,
    1098px 634px #fff, 1716px 956px #fff, 1880px 1107px #fff, 1162px 1278px #fff,
    1328px 1959px #fff, 1518px 1851px #fff, 1227px 1828px #fff, 219px 22px #fff,
    1154px 278px #fff, 1726px 701px #fff, 342px 550px #fff, 819px 537px #fff,
    787px 1289px #fff, 36px 1339px #fff, 752px 704px #fff, 415px 786px #fff,
    195px 236px #fff, 436px 1405px #fff, 805px 186px #fff, 1664px 1035px #fff,
    149px 1642px #fff, 833px 1713px #fff, 264px 1725px #fff, 1824px 125px #fff,
    1841px 1342px #fff, 1946px 1555px #fff, 1074px 1228px #fff,
    1068px 1945px #fff, 1228px 1842px #fff, 565px 1055px #fff, 862px 961px #fff,
    1023px 1220px #fff, 1414px 1878px #fff, 1546px 801px #fff,
    1228px 1428px #fff, 723px 1861px #fff, 1714px 804px #fff, 816px 1494px #fff,
    539px 923px #fff, 237px 1290px #fff, 691px 1322px #fff, 1026px 1885px #fff,
    886px 446px #fff, 1891px 1761px #fff, 1992px 1070px #fff, 1906px 1301px #fff,
    1804px 1736px #fff, 672px 1161px #fff, 324px 1288px #fff, 515px 376px #fff,
    940px 635px #fff, 424px 1405px #fff, 761px 1487px #fff, 330px 417px #fff,
    119px 1748px #fff, 1223px 509px #fff, 642px 1020px #fff, 1161px 1462px #fff,
    729px 58px #fff, 1936px 1835px #fff, 218px 718px #fff, 1418px 564px #fff,
    1589px 968px #fff, 1756px 767px #fff, 1747px 1357px #fff, 1251px 1085px #fff,
    1858px 795px #fff, 644px 895px #fff, 1008px 422px #fff, 1399px 982px #fff,
    372px 4px #fff, 1756px 1618px #fff, 1918px 1062px #fff, 1300px 543px #fff,
    1921px 123px #fff, 1201px 1834px #fff, 545px 216px #fff, 348px 1086px #fff,
    614px 565px #fff, 1764px 1345px #fff, 46px 1167px #fff, 802px 51px #fff,
    1851px 415px #fff, 1375px 1425px #fff, 723px 240px #fff, 930px 801px #fff,
    1423px 140px #fff, 271px 1723px #fff, 1358px 1364px #fff, 1570px 591px #fff,
    1963px 1679px #fff, 1636px 1371px #fff, 851px 686px #fff, 507px 1709px #fff,
    382px 1933px #fff, 1941px 1942px #fff, 1460px 1946px #fff, 132px 21px #fff,
    1990px 1604px #fff, 1207px 1710px #fff, 320px 365px #fff, 903px 1730px #fff,
    1841px 485px #fff, 737px 718px #fff, 1820px 1656px #fff, 728px 1281px #fff,
    170px 318px #fff, 1224px 271px #fff, 1774px 404px #fff, 1204px 331px #fff,
    1586px 959px #fff, 1419px 322px #fff, 1695px 1327px #fff, 1931px 1037px #fff,
    1558px 242px #fff, 1926px 883px #fff, 1019px 241px #fff, 1197px 343px #fff,
    508px 379px #fff, 1446px 1117px #fff, 175px 57px #fff, 1719px 1220px #fff,
    813px 755px #fff, 601px 1305px #fff, 1749px 1172px #fff, 1467px 341px #fff,
    369px 772px #fff, 1987px 1578px #fff, 628px 1191px #fff, 1105px 414px #fff,
    1884px 451px #fff, 1328px 919px #fff, 1158px 82px #fff, 1177px 959px #fff,
    216px 1499px #fff, 373px 1997px #fff, 102px 546px #fff, 1665px 1333px #fff,
    807px 125px #fff, 1657px 807px #fff, 1318px 1010px #fff, 418px 1308px #fff,
    675px 724px #fff, 267px 686px #fff, 1647px 789px #fff, 972px 154px #fff,
    1486px 1962px #fff, 1562px 71px #fff, 561px 1254px #fff, 865px 1480px #fff,
    289px 1888px #fff, 164px 910px #fff, 30px 1953px #fff, 846px 1586px #fff,
    877px 1124px #fff, 1381px 640px #fff, 2px 322px #fff, 277px 299px #fff,
    22px 910px #fff, 1831px 993px #fff, 1159px 587px #fff, 1602px 1220px #fff,
    55px 725px #fff, 610px 1210px #fff, 683px 413px #fff, 128px 954px #fff,
    813px 1980px #fff, 1279px 440px #fff, 1897px 754px #fff, 1896px 452px #fff,
    1813px 1929px #fff, 184px 512px #fff, 58px 601px #fff, 1433px 1651px #fff,
    1033px 1982px #fff, 1036px 99px #fff, 1796px 1270px #fff, 1265px 732px #fff,
    518px 1526px #fff, 1482px 1011px #fff, 1358px 935px #fff, 1383px 1954px #fff,
    1052px 1442px #fff, 1324px 1208px #fff, 48px 766px #fff, 497px 158px #fff;
}

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1267px 1269px #fff, 1561px 1380px #fff, 1954px 913px #fff,
    1494px 192px #fff, 635px 841px #fff, 798px 1587px #fff, 789px 1637px #fff,
    1535px 923px #fff, 1793px 1681px #fff, 1325px 87px #fff, 53px 963px #fff,
    264px 1577px #fff, 225px 252px #fff, 55px 425px #fff, 563px 1331px #fff,
    53px 1422px #fff, 134px 1306px #fff, 1430px 1501px #fff, 1789px 1086px #fff,
    1064px 79px #fff, 756px 1534px #fff, 1802px 1852px #fff, 1902px 401px #fff,
    867px 1774px #fff, 1727px 757px #fff, 1689px 1439px #fff, 1504px 1892px #fff,
    1289px 636px #fff, 850px 21px #fff, 1254px 1858px #fff, 58px 27px #fff,
    1208px 1056px #fff, 1530px 1144px #fff, 86px 849px #fff, 396px 1042px #fff,
    1782px 1497px #fff, 540px 1487px #fff, 857px 309px #fff, 317px 1485px #fff,
    475px 463px #fff, 1650px 101px #fff, 959px 858px #fff, 1416px 1490px #fff,
    1701px 163px #fff, 1590px 1214px #fff, 1170px 1802px #fff, 1429px 30px #fff,
    1195px 157px #fff, 1875px 168px #fff, 1820px 367px #fff, 44px 514px #fff,
    882px 155px #fff, 470px 1513px #fff, 1957px 550px #fff, 1948px 1360px #fff,
    29px 30px #fff, 128px 290px #fff, 1582px 1008px #fff, 1208px 130px #fff,
    759px 28px #fff, 671px 1092px #fff, 1073px 1405px #fff, 1490px 1008px #fff,
    421px 873px #fff, 1625px 1145px #fff, 863px 1820px #fff, 1018px 1166px #fff,
    1385px 91px #fff, 36px 221px #fff, 1252px 1115px #fff, 1525px 975px #fff,
    1561px 246px #fff, 618px 699px #fff, 320px 900px #fff, 1071px 1675px #fff,
    1915px 1929px #fff, 176px 1189px #fff, 1362px 1851px #fff, 1671px 8px #fff,
    556px 576px #fff, 1768px 445px #fff, 419px 771px #fff, 917px 687px #fff,
    1223px 485px #fff, 1715px 1118px #fff, 1401px 1450px #fff, 414px 756px #fff,
    1709px 54px #fff, 1711px 470px #fff, 201px 1458px #fff, 1480px 1604px #fff,
    646px 1224px #fff, 924px 445px #fff, 1528px 1292px #fff, 1500px 811px #fff,
    1666px 793px #fff, 1337px 993px #fff, 1436px 1392px #fff, 1319px 1526px #fff,
    241px 48px #fff, 1996px 835px #fff, 1652px 1440px #fff, 1260px 1301px #fff,
    1942px 1254px #fff, 1898px 745px #fff, 1455px 1080px #fff, 654px 1122px #fff,
    73px 1628px #fff, 1715px 98px #fff, 1322px 523px #fff, 1048px 320px #fff,
    577px 410px #fff, 1153px 915px #fff, 1008px 120px #fff, 592px 880px #fff,
    1245px 1215px #fff, 822px 1591px #fff, 1042px 811px #fff, 1263px 502px #fff,
    1234px 876px #fff, 1965px 1471px #fff, 256px 651px #fff, 1109px 311px #fff,
    868px 275px #fff, 198px 1933px #fff, 1623px 872px #fff, 148px 601px #fff,
    1945px 775px #fff, 1770px 730px #fff, 1658px 111px #fff, 1819px 1391px #fff,
    818px 319px #fff, 546px 845px #fff, 1437px 1299px #fff, 795px 109px #fff,
    1946px 877px #fff, 1187px 430px #fff, 1839px 1782px #fff, 1191px 1324px #fff,
    1233px 1266px #fff, 1829px 565px #fff, 475px 1068px #fff, 272px 785px #fff,
    1756px 338px #fff, 562px 1358px #fff, 837px 640px #fff, 566px 1037px #fff,
    958px 1706px #fff, 1388px 876px #fff, 678px 979px #fff, 486px 69px #fff,
    769px 949px #fff, 445px 1786px #fff, 1918px 890px #fff, 1615px 164px #fff,
    1338px 1325px #fff, 680px 1952px #fff, 1851px 550px #fff, 1356px 366px #fff,
    1708px 1787px #fff, 1141px 112px #fff, 1027px 1438px #fff, 85px 1810px #fff,
    1041px 1919px #fff, 1001px 196px #fff, 1441px 907px #fff, 1017px 426px #fff,
    724px 763px #fff, 519px 1700px #fff, 1931px 1493px #fff, 1022px 32px #fff,
    1556px 727px #fff, 417px 1144px #fff, 1439px 318px #fff, 1096px 1239px #fff,
    1614px 804px #fff, 378px 220px #fff, 733px 1036px #fff, 1925px 1094px #fff,
    561px 109px #fff, 1458px 178px #fff, 1256px 873px #fff, 606px 319px #fff,
    745px 164px #fff, 1299px 1746px #fff, 1563px 419px #fff, 687px 540px #fff,
    614px 813px #fff, 657px 1499px #fff, 1642px 296px #fff, 1546px 1957px #fff,
    9px 877px #fff, 1735px 57px #fff, 260px 791px #fff, 1745px 999px #fff,
    250px 759px #fff, 697px 1273px #fff, 1005px 1917px #fff, 1946px 54px #fff,
    1938px 564px #fff;
  animation: animStar 200s linear infinite;
}
.stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1267px 1269px #fff, 1561px 1380px #fff, 1954px 913px #fff,
    1494px 192px #fff, 635px 841px #fff, 798px 1587px #fff, 789px 1637px #fff,
    1535px 923px #fff, 1793px 1681px #fff, 1325px 87px #fff, 53px 963px #fff,
    264px 1577px #fff, 225px 252px #fff, 55px 425px #fff, 563px 1331px #fff,
    53px 1422px #fff, 134px 1306px #fff, 1430px 1501px #fff, 1789px 1086px #fff,
    1064px 79px #fff, 756px 1534px #fff, 1802px 1852px #fff, 1902px 401px #fff,
    867px 1774px #fff, 1727px 757px #fff, 1689px 1439px #fff, 1504px 1892px #fff,
    1289px 636px #fff, 850px 21px #fff, 1254px 1858px #fff, 58px 27px #fff,
    1208px 1056px #fff, 1530px 1144px #fff, 86px 849px #fff, 396px 1042px #fff,
    1782px 1497px #fff, 540px 1487px #fff, 857px 309px #fff, 317px 1485px #fff,
    475px 463px #fff, 1650px 101px #fff, 959px 858px #fff, 1416px 1490px #fff,
    1701px 163px #fff, 1590px 1214px #fff, 1170px 1802px #fff, 1429px 30px #fff,
    1195px 157px #fff, 1875px 168px #fff, 1820px 367px #fff, 44px 514px #fff,
    882px 155px #fff, 470px 1513px #fff, 1957px 550px #fff, 1948px 1360px #fff,
    29px 30px #fff, 128px 290px #fff, 1582px 1008px #fff, 1208px 130px #fff,
    759px 28px #fff, 671px 1092px #fff, 1073px 1405px #fff, 1490px 1008px #fff,
    421px 873px #fff, 1625px 1145px #fff, 863px 1820px #fff, 1018px 1166px #fff,
    1385px 91px #fff, 36px 221px #fff, 1252px 1115px #fff, 1525px 975px #fff,
    1561px 246px #fff, 618px 699px #fff, 320px 900px #fff, 1071px 1675px #fff,
    1915px 1929px #fff, 176px 1189px #fff, 1362px 1851px #fff, 1671px 8px #fff,
    556px 576px #fff, 1768px 445px #fff, 419px 771px #fff, 917px 687px #fff,
    1223px 485px #fff, 1715px 1118px #fff, 1401px 1450px #fff, 414px 756px #fff,
    1709px 54px #fff, 1711px 470px #fff, 201px 1458px #fff, 1480px 1604px #fff,
    646px 1224px #fff, 924px 445px #fff, 1528px 1292px #fff, 1500px 811px #fff,
    1666px 793px #fff, 1337px 993px #fff, 1436px 1392px #fff, 1319px 1526px #fff,
    241px 48px #fff, 1996px 835px #fff, 1652px 1440px #fff, 1260px 1301px #fff,
    1942px 1254px #fff, 1898px 745px #fff, 1455px 1080px #fff, 654px 1122px #fff,
    73px 1628px #fff, 1715px 98px #fff, 1322px 523px #fff, 1048px 320px #fff,
    577px 410px #fff, 1153px 915px #fff, 1008px 120px #fff, 592px 880px #fff,
    1245px 1215px #fff, 822px 1591px #fff, 1042px 811px #fff, 1263px 502px #fff,
    1234px 876px #fff, 1965px 1471px #fff, 256px 651px #fff, 1109px 311px #fff,
    868px 275px #fff, 198px 1933px #fff, 1623px 872px #fff, 148px 601px #fff,
    1945px 775px #fff, 1770px 730px #fff, 1658px 111px #fff, 1819px 1391px #fff,
    818px 319px #fff, 546px 845px #fff, 1437px 1299px #fff, 795px 109px #fff,
    1946px 877px #fff, 1187px 430px #fff, 1839px 1782px #fff, 1191px 1324px #fff,
    1233px 1266px #fff, 1829px 565px #fff, 475px 1068px #fff, 272px 785px #fff,
    1756px 338px #fff, 562px 1358px #fff, 837px 640px #fff, 566px 1037px #fff,
    958px 1706px #fff, 1388px 876px #fff, 678px 979px #fff, 486px 69px #fff,
    769px 949px #fff, 445px 1786px #fff, 1918px 890px #fff, 1615px 164px #fff,
    1338px 1325px #fff, 680px 1952px #fff, 1851px 550px #fff, 1356px 366px #fff,
    1708px 1787px #fff, 1141px 112px #fff, 1027px 1438px #fff, 85px 1810px #fff,
    1041px 1919px #fff, 1001px 196px #fff, 1441px 907px #fff, 1017px 426px #fff,
    724px 763px #fff, 519px 1700px #fff, 1931px 1493px #fff, 1022px 32px #fff,
    1556px 727px #fff, 417px 1144px #fff, 1439px 318px #fff, 1096px 1239px #fff,
    1614px 804px #fff, 378px 220px #fff, 733px 1036px #fff, 1925px 1094px #fff,
    561px 109px #fff, 1458px 178px #fff, 1256px 873px #fff, 606px 319px #fff,
    745px 164px #fff, 1299px 1746px #fff, 1563px 419px #fff, 687px 540px #fff,
    614px 813px #fff, 657px 1499px #fff, 1642px 296px #fff, 1546px 1957px #fff,
    9px 877px #fff, 1735px 57px #fff, 260px 791px #fff, 1745px 999px #fff,
    250px 759px #fff, 697px 1273px #fff, 1005px 1917px #fff, 1946px 54px #fff,
    1938px 564px #fff;
}

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 504px 1334px #fff, 486px 770px #fff, 266px 1128px #fff,
    1883px 1822px #fff, 1323px 71px #fff, 514px 1726px #fff, 829px 539px #fff,
    252px 923px #fff, 528px 1830px #fff, 765px 1657px #fff, 1223px 1262px #fff,
    1287px 828px #fff, 1088px 1407px #fff, 1095px 1230px #fff, 38px 1725px #fff,
    1892px 1930px #fff, 1111px 762px #fff, 1432px 901px #fff, 1715px 620px #fff,
    372px 1102px #fff, 1697px 1706px #fff, 691px 707px #fff, 1830px 549px #fff,
    1518px 541px #fff, 334px 620px #fff, 1265px 538px #fff, 733px 648px #fff,
    237px 1976px #fff, 1582px 1311px #fff, 821px 1331px #fff, 1404px 1376px #fff,
    1435px 300px #fff, 60px 9px #fff, 51px 699px #fff, 212px 740px #fff,
    1101px 899px #fff, 1498px 1528px #fff, 1066px 1188px #fff, 1548px 450px #fff,
    577px 1706px #fff, 268px 1083px #fff, 1041px 1099px #fff, 8px 272px #fff,
    655px 1554px #fff, 1329px 1777px #fff, 1908px 796px #fff, 1681px 1577px #fff,
    818px 692px #fff, 942px 273px #fff, 56px 1332px #fff, 920px 390px #fff,
    860px 1230px #fff, 619px 959px #fff, 452px 320px #fff, 1520px 1323px #fff,
    1977px 1726px #fff, 369px 347px #fff, 1274px 1891px #fff, 75px 743px #fff,
    525px 580px #fff, 636px 406px #fff, 333px 1755px #fff, 315px 672px #fff,
    43px 265px #fff, 1275px 441px #fff, 1975px 1424px #fff, 1488px 790px #fff,
    1779px 1887px #fff, 748px 950px #fff, 1900px 813px #fff, 1722px 1566px #fff,
    1816px 199px #fff, 826px 823px #fff, 1115px 267px #fff, 19px 756px #fff,
    1516px 46px #fff, 28px 859px #fff, 1823px 1450px #fff, 328px 1455px #fff,
    1135px 875px #fff, 1455px 1216px #fff, 1019px 263px #fff, 1017px 667px #fff,
    167px 1908px #fff, 1351px 344px #fff, 1915px 1463px #fff, 95px 1425px #fff,
    998px 1742px #fff, 798px 27px #fff, 1149px 973px #fff, 1421px 443px #fff,
    467px 1999px #fff, 89px 1236px #fff, 1095px 1631px #fff, 1429px 1195px #fff,
    1776px 1501px #fff, 35px 1357px #fff, 1316px 869px #fff, 201px 359px #fff,
    728px 913px #fff;
  animation: animStar 300s linear infinite;
}
.stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 504px 1334px #fff, 486px 770px #fff, 266px 1128px #fff,
    1883px 1822px #fff, 1323px 71px #fff, 514px 1726px #fff, 829px 539px #fff,
    252px 923px #fff, 528px 1830px #fff, 765px 1657px #fff, 1223px 1262px #fff,
    1287px 828px #fff, 1088px 1407px #fff, 1095px 1230px #fff, 38px 1725px #fff,
    1892px 1930px #fff, 1111px 762px #fff, 1432px 901px #fff, 1715px 620px #fff,
    372px 1102px #fff, 1697px 1706px #fff, 691px 707px #fff, 1830px 549px #fff,
    1518px 541px #fff, 334px 620px #fff, 1265px 538px #fff, 733px 648px #fff,
    237px 1976px #fff, 1582px 1311px #fff, 821px 1331px #fff, 1404px 1376px #fff,
    1435px 300px #fff, 60px 9px #fff, 51px 699px #fff, 212px 740px #fff,
    1101px 899px #fff, 1498px 1528px #fff, 1066px 1188px #fff, 1548px 450px #fff,
    577px 1706px #fff, 268px 1083px #fff, 1041px 1099px #fff, 8px 272px #fff,
    655px 1554px #fff, 1329px 1777px #fff, 1908px 796px #fff, 1681px 1577px #fff,
    818px 692px #fff, 942px 273px #fff, 56px 1332px #fff, 920px 390px #fff,
    860px 1230px #fff, 619px 959px #fff, 452px 320px #fff, 1520px 1323px #fff,
    1977px 1726px #fff, 369px 347px #fff, 1274px 1891px #fff, 75px 743px #fff,
    525px 580px #fff, 636px 406px #fff, 333px 1755px #fff, 315px 672px #fff,
    43px 265px #fff, 1275px 441px #fff, 1975px 1424px #fff, 1488px 790px #fff,
    1779px 1887px #fff, 748px 950px #fff, 1900px 813px #fff, 1722px 1566px #fff,
    1816px 199px #fff, 826px 823px #fff, 1115px 267px #fff, 19px 756px #fff,
    1516px 46px #fff, 28px 859px #fff, 1823px 1450px #fff, 328px 1455px #fff,
    1135px 875px #fff, 1455px 1216px #fff, 1019px 263px #fff, 1017px 667px #fff,
    167px 1908px #fff, 1351px 344px #fff, 1915px 1463px #fff, 95px 1425px #fff,
    998px 1742px #fff, 798px 27px #fff, 1149px 973px #fff, 1421px 443px #fff,
    467px 1999px #fff, 89px 1236px #fff, 1095px 1631px #fff, 1429px 1195px #fff,
    1776px 1501px #fff, 35px 1357px #fff, 1316px 869px #fff, 201px 359px #fff,
    728px 913px #fff;
}

.shooting-star {
  position: absolute;
  left: 0;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699bff);
  -webkit-animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
  animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
}
.shooting-star::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    #5f91ff,
    rgba(0, 0, 255, 0)
  );
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
  animation: shining 3000ms ease-in-out infinite;
}
.shooting-star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    #5f91ff,
    rgba(0, 0, 255, 0)
  );
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
  animation: shining 3000ms ease-in-out infinite;
  transform: translateX(50%) rotateZ(-45deg);
}

.title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
.title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fffefe45;
  text-shadow: 0 0 9px rgb(0 0 0 / 50%), 0 0 20px rgb(0 0 0 / 50%), 0 0 35px rgb(0 0 0 / 50%), 0 0 30px rgb(0 0 0 / 50%), 0 0 35px rgb(0 0 0 / 50%), 0 0 30px rgb(0 0 0 / 50%);
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}
@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}
.galaxies{
    display: block;
    font-size: 52px;
    margin: 0;
    color: transparent;
    filter: opacity(95%) grayscale(25%) blur(50px);
}

.smaller::before,
.smaller::after,
.bigger::before,
.bigger::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 377s -27s move infinite ease-in-out alternate;
}

.bigger::before {
  overflow: hidden;
  animation: 7s 0 move infinite ease-in-out alternate;
  text-shadow: -0.4203276414em 1.6807023289em 7px rgba(0, 255, 241, 0.9),
    2.2396813088em -0.2371547789em 7px rgba(0, 227, 255, 0.9),
    2.4648267376em 2.138050413em 7px rgba(47, 0, 255, 0.9),
    0.7066729816em 2.3915983926em 7px rgba(255, 102, 0, 0.9),
    1.7452193538em 0.2313245176em 7px rgba(0, 129, 255, 0.9),
    0.7481634722em 1.3764953571em 7px rgba(0, 51, 255, 0.9),
    0.8298815907em -0.0192612488em 7px rgba(0, 120, 255, 0.9),
    -0.1714019875em -0.3998869033em 7px rgba(255, 172, 0, 0.9),
    0.843850518em -0.0961940418em 7px rgba(0, 255, 44, 0.9),
    1.9209671099em -0.0884416013em 7px rgba(0, 201, 255, 0.9),
    0.8017185102em -0.2474210436em 7px rgba(0, 87, 255, 0.9),
    0.7539044218em 1.2059887898em 7px rgba(255, 0, 180, 0.9),
    0.8975042206em -0.0009346955em 7px rgba(255, 0, 148, 0.9),
    0.6424717933em 2.4074006653em 7px rgba(255, 224, 0, 0.9),
    2.4045459629em 1.4578085398em 7px rgba(140, 255, 0, 0.9),
    -0.3921027502em 1.2473109838em 7px rgba(33, 255, 0, 0.9),
    0.4034633372em 2.2186337334em 7px rgba(70, 0, 255, 0.9),
    -0.2929762899em 2.4659890015em 7px rgba(255, 0, 201, 0.9),
    -0.0341582232em 2.0069406651em 7px rgba(0, 181, 255, 0.9),
    1.9701820176em 1.2519280183em 7px rgba(255, 8, 0, 0.9),
    0.966724483em 0.4310477494em 7px rgba(255, 67, 0, 0.9),
    0.3204802307em 1.4815923778em 7px rgba(0, 231, 255, 0.9),
    0.1149361561em 1.3444514874em 7px rgba(255, 0, 188, 0.9),
    0.798959878em 1.9385980493em 7px rgba(134, 255, 0, 0.9),
    1.6684931552em 1.3814702586em 7px rgba(255, 0, 58, 0.9),
    1.771495434em 0.0162490991em 7px rgba(0, 102, 255, 0.9),
    2.3525898253em 2.3096113331em 7px rgba(210, 255, 0, 0.9),
    -0.4965721848em 0.983903277em 7px rgba(0, 172, 255, 0.9),
    1.5482611773em 0.5397191583em 7px rgba(255, 158, 0, 0.9),
    1.4635357483em 2.0417100412em 7px rgba(0, 182, 255, 0.9),
    1.517782559em 1.7292570894em 7px rgba(255, 0, 183, 0.9),
    -0.0138258475em 2.4435817719em 7px rgba(79, 0, 255, 0.9),
    -0.2011252641em 0.4897551453em 7px rgba(0, 49, 255, 0.9),
    0.129752194em 1.0769186261em 7px rgba(0, 255, 141, 0.9),
    1.3318813305em 0.6881701656em 7px rgba(236, 255, 0, 0.9),
    1.9102546644em 0.9292224406em 7px rgba(0, 71, 255, 0.9),
    -0.0889994741em 2.2866239473em 7px rgba(255, 0, 240, 0.9),
    1.2327330103em 0.2691971142em 7px rgba(176, 255, 0, 0.9),
    0.7664343486em 1.3819394047em 7px rgba(236, 0, 255, 0.9),
    2.2643166539em -0.208957745em 7px rgba(0, 111, 255, 0.9),
    0.1972708935em 0.1496119195em 7px rgba(255, 21, 0, 0.9);
  animation-duration: 266s;
  animation-delay: -27s;
}

.bigger::after {
  text-shadow: 2.051859523em -0.4058758416em 7px rgba(255, 0, 73, 0.9),
    1.9214651135em -0.1480719553em 7px rgba(0, 167, 255, 0.9),
    0.7241090436em 0.8049689069em 7px rgba(255, 0, 187, 0.9),
    -0.4490886167em 0.8892514367em 7px rgba(255, 91, 0, 0.9),
    0.0473628074em 1.4654836147em 7px rgba(255, 0, 126, 0.9),
    2.3717642021em 2.3819062404em 7px rgba(0, 106, 255, 0.9),
    0.069904165em 1.9122193796em 7px rgba(0, 255, 133, 0.9),
    1.8205626165em 2.1760407526em 7px rgba(161, 0, 255, 0.9),
    1.4713841217em 1.689315143em 7px rgba(88, 0, 255, 0.9),
    0.598267806em 0.0328264668em 7px rgba(237, 255, 0, 0.9),
    0.5813677411em 2.3261905324em 7px rgba(80, 255, 0, 0.9),
    2.2825616585em 2.3226900105em 7px rgba(255, 151, 0, 0.9),
    0.0773146797em 2.1901997814em 7px rgba(16, 0, 255, 0.9),
    -0.241333352em 1.3715088881em 7px rgba(209, 255, 0, 0.9),
    2.1579866323em 2.3475436453em 7px rgba(0, 78, 255, 0.9),
    -0.4786784297em -0.0183207838em 7px rgba(0, 119, 255, 0.9),
    0.8873138862em 1.0571873397em 7px rgba(255, 0, 1, 0.9),
    -0.163275693em 1.9105635345em 7px rgba(144, 255, 0, 0.9),
    -0.4137981053em 1.6960058828em 7px rgba(255, 0, 109, 0.9),
    1.7944740948em 1.7411939743em 7px rgba(225, 0, 255, 0.9),
    2.4189105944em 2.468754707em 7px rgba(255, 133, 0, 0.9),
    -0.054229807em 0.0568666901em 7px rgba(106, 0, 255, 0.9),
    0.7798460706em 1.6529188402em 7px rgba(165, 255, 0, 0.9),
    0.8350527286em 0.6774980448em 7px rgba(0, 15, 255, 0.9),
    1.6439155861em 1.7123298525em 7px rgba(109, 255, 0, 0.9),
    -0.4451016254em 1.8957464265em 7px rgba(255, 0, 6, 0.9),
    2.2613534385em 2.0886331039em 7px rgba(216, 255, 0, 0.9),
    0.7808622725em 1.6367887469em 7px rgba(255, 33, 0, 0.9),
    2.3474778847em 1.2706214345em 7px rgba(82, 255, 0, 0.9),
    0.7490720964em 1.4379870412em 7px rgba(255, 197, 0, 0.9),
    0.821243986em 0.8328676697em 7px rgba(214, 0, 255, 0.9),
    1.6452554579em 0.9725914059em 7px rgba(0, 255, 72, 0.9),
    1.616201636em 2.4484723262em 7px rgba(255, 61, 0, 0.9),
    1.7458916801em 1.7035520211em 7px rgba(206, 255, 0, 0.9),
    0.5886420562em 0.5127782418em 7px rgba(0, 255, 55, 0.9),
    0.5593986471em 2.3163834646em 7px rgba(255, 216, 0, 0.9),
    -0.3292520564em 0.1045563573em 7px rgba(255, 33, 0, 0.9),
    0.1253441619em 0.7046910534em 7px rgba(0, 255, 247, 0.9),
    1.5371744787em 2.4281154275em 7px rgba(48, 255, 0, 0.9),
    1.6883760886em 1.4688677935em 7px rgba(0, 44, 255, 0.9),
    -0.1602742342em -0.2411462082em 7px rgba(27, 0, 255, 0.9);
  animation-duration: 155s;
  animation-delay: -32s;
}

.smaller::before {
  text-shadow: 0.9928081067em 0.1211687754em 7px rgba(40, 0, 255, 0.9),
    0.4862564138em -0.2608492583em 7px rgba(203, 0, 255, 0.9),
    0.2777778879em 2.1073486741em 7px rgba(0, 255, 135, 0.9),
    0.1222344049em 0.1491358563em 7px rgba(215, 0, 255, 0.9),
    -0.4864673714em 0.7221823891em 7px rgba(219, 0, 255, 0.9),
    1.6958827177em -0.0167695175em 7px rgba(255, 0, 15, 0.9),
    0.017306198em -0.4405351296em 7px rgba(118, 0, 255, 0.9),
    -0.3001072768em 0.0148366084em 7px rgba(255, 0, 244, 0.9),
    -0.3126405656em 0.5186820825em 7px rgba(0, 255, 23, 0.9),
    2.27258261em -0.0514010509em 7px rgba(219, 255, 0, 0.9),
    2.2006343387em 1.7972891593em 7px rgba(0, 255, 187, 0.9),
    1.9315825103em -0.3287821858em 7px rgba(255, 104, 0, 0.9),
    1.133250921em -0.1510504969em 7px rgba(0, 255, 243, 0.9),
    1.6988316266em 1.1804630587em 7px rgba(193, 255, 0, 0.9),
    1.0695129329em -0.1635223603em 7px rgba(255, 0, 182, 0.9),
    2.1928853132em -0.1672680031em 7px rgba(255, 77, 0, 0.9),
    -0.4626861536em 1.6496602493em 7px rgba(11, 255, 0, 0.9),
    -0.092047176em 2.0948314687em 7px rgba(255, 186, 0, 0.9),
    2.1106698912em 0.6147924495em 7px rgba(0, 140, 255, 0.9),
    -0.0688420859em 0.0537701593em 7px rgba(255, 191, 0, 0.9),
    0.3599761042em 1.7255786371em 7px rgba(0, 255, 174, 0.9),
    -0.3275201005em 2.2284158152em 7px rgba(0, 52, 255, 0.9),
    1.2383517737em -0.3415564706em 7px rgba(0, 245, 255, 0.9),
    0.630360099em 0.9970437117em 7px rgba(214, 255, 0, 0.9),
    -0.4570183865em 1.2767337485em 7px rgba(255, 0, 160, 0.9),
    1.630452077em 1.2495655199em 7px rgba(255, 0, 81, 0.9),
    -0.4551061174em 0.7563479914em 7px rgba(255, 0, 110, 0.9),
    0.2907845163em 1.1763488527em 7px rgba(255, 0, 165, 0.9),
    0.1385865322em 0.4765859568em 7px rgba(255, 0, 128, 0.9),
    -0.3933397445em 0.3996149366em 7px rgba(255, 137, 0, 0.9),
    0.4343418184em 2.3041410606em 7px rgba(255, 18, 0, 0.9),
    -0.432672293em 1.2395965719em 7px rgba(0, 37, 255, 0.9),
    1.6169272126em 2.398000206em 7px rgba(0, 255, 249, 0.9),
    -0.1926704969em 2.4306812121em 7px rgba(147, 0, 255, 0.9),
    0.5603381589em -0.3931942356em 7px rgba(131, 0, 255, 0.9),
    -0.0524852506em 2.2837259925em 7px rgba(0, 8, 255, 0.9),
    1.426634983em 0.5673197518em 7px rgba(196, 0, 255, 0.9),
    0.4851613404em 1.1577435984em 7px rgba(255, 71, 0, 0.9),
    0.3102820267em 2.4686849243em 7px rgba(0, 255, 196, 0.9),
    2.447767177em 1.1603739263em 7px rgba(114, 255, 0, 0.9),
    2.3105280851em 1.981806693em 7px rgba(255, 0, 78, 0.9);
  animation-duration: 188s;
  animation-delay: -23s;
}

.smaller::after {
  text-shadow: -0.4216394035em -0.242623967em 7px rgba(255, 0, 3, 0.9),
    1.3129381325em -0.3929468075em 7px rgba(0, 204, 255, 0.9),
    -0.0184856686em 0.7678972967em 7px rgba(65, 0, 255, 0.9),
    -0.2823137782em 2.3746883827em 7px rgba(255, 0, 82, 0.9),
    -0.1995936203em -0.1471572063em 7px rgba(107, 255, 0, 0.9),
    -0.0737285115em 1.7815025975em 7px rgba(0, 95, 255, 0.9),
    1.1147759506em 2.2553782354em 7px rgba(0, 90, 255, 0.9),
    -0.1762493546em 1.8020338775em 7px rgba(93, 255, 0, 0.9),
    0.5486653805em 1.1888873865em 7px rgba(0, 255, 128, 0.9),
    0.1807109426em 1.2626486216em 7px rgba(255, 75, 0, 0.9),
    2.4923229446em 1.9433479808em 7px rgba(0, 255, 195, 0.9),
    1.0458422232em 0.3599289905em 7px rgba(255, 0, 191, 0.9),
    1.3255490772em 0.1337392226em 7px rgba(41, 255, 0, 0.9),
    0.3771181814em 1.8781905672em 7px rgba(255, 0, 155, 0.9),
    2.4756451189em 0.5249190208em 7px rgba(219, 0, 255, 0.9),
    2.212928712em -0.1652402146em 7px rgba(255, 246, 0, 0.9),
    0.6049940902em 0.1777063516em 7px rgba(0, 152, 255, 0.9),
    1.0336964723em 0.0016933289em 7px rgba(255, 0, 164, 0.9),
    2.4574402078em 0.9660151234em 7px rgba(0, 255, 230, 0.9),
    -0.1274972804em 1.2080242491em 7px rgba(67, 255, 0, 0.9),
    2.4137198226em 0.6686562838em 7px rgba(255, 171, 0, 0.9),
    1.386833859em 2.252287033em 7px rgba(255, 0, 82, 0.9),
    0.3068747618em 0.6453629162em 7px rgba(255, 53, 0, 0.9),
    0.0762115758em 0.6967824844em 7px rgba(0, 144, 255, 0.9),
    1.1777762708em -0.183170667em 7px rgba(0, 27, 255, 0.9),
    1.1852463003em 0.3170314157em 7px rgba(0, 82, 255, 0.9),
    1.6750717326em 0.6948991726em 7px rgba(0, 36, 255, 0.9),
    0.9653786668em 0.4745103864em 7px rgba(0, 255, 208, 0.9),
    0.6786335627em 0.2115267966em 7px rgba(0, 108, 255, 0.9),
    1.1219372204em 1.2290866792em 7px rgba(120, 0, 255, 0.9),
    1.3299877738em 0.1045234447em 7px rgba(255, 0, 162, 0.9),
    -0.3765132905em -0.065813019em 7px rgba(255, 0, 211, 0.9),
    0.3948499117em 1.0929471582em 7px rgba(221, 0, 255, 0.9),
    2.0901225509em 0.2741743259em 7px rgba(255, 0, 134, 0.9),
    -0.0797037367em -0.1552160356em 7px rgba(189, 0, 255, 0.9),
    2.3498009947em 2.4983423147em 7px rgba(225, 0, 255, 0.9),
    -0.4599216549em 0.4336814684em 7px rgba(255, 0, 139, 0.9),
    0.3298657711em 0.1338813051em 7px rgba(127, 255, 0, 0.9),
    2.2201778714em 0.5655386264em 7px rgba(255, 0, 156, 0.9),
    1.2620157581em 1.4661936151em 7px rgba(0, 192, 255, 0.9),
    1.0848309991em 0.3758929768em 7px rgba(255, 98, 0, 0.9);
  animation-duration: 199s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}

@keyframes movebg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
